body {
    display: flex;
    width: 100%;
    justify-content: center;
}
div {
    font-size: 200px;
    display: inline-block;
}
#cardGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 200px 200px 200px 200px;
}